In [1]:
import pandas as pd
df = pd.read_csv('data/Fish.csv')

In [4]:
cond = df['Species'].isin(['Bream', 'Smelt'])
fish_data = df.loc[cond, ['Length2', 'Weight']]
fish_data.head()

   Length2  Weight
0     25.4   242.0
1     26.3   290.0
2     26.5   340.0
3     29.0   363.0
4     29.0   430.0

In [5]:
fish_target = df.loc[cond, ['Species']]
fish_target

    Species
0     Bream
1     Bream
2     Bream
3     Bream
4     Bream
5     Bream
6     Bream
7     Bream
8     Bream
9     Bream
10    Bream
11    Bream
12    Bream
13    Bream
14    Bream
15    Bream
16    Bream
17    Bream
18    Bream
19    Bream
20    Bream
21    Bream
22    Bream
23    Bream
24    Bream
25    Bream
26    Bream
27    Bream
28    Bream
29    Bream
30    Bream
31    Bream
32    Bream
33    Bream
34    Bream
145   Smelt
146   Smelt
147   Smelt
148   Smelt
149   Smelt
150   Smelt
151   Smelt
152   Smelt
153   Smelt
154   Smelt
155   Smelt
156   Smelt
157   Smelt
158   Smelt

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
# 표준점수로 scatter

In [ ]:
cond = df['Species'].isin(['Bream', 'Smelt'])
fish_data = df.loc[cond, ['Length2', 'Weight']]
# fish_data.head()
fish_target = df.loc[cond, ['Species']]
# fish_target
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = \
train_test_split(fish_data, fish_target)
# test_target
from sklearn.neighbors import KNeighborsClassifier

kn = KNeighborsClassifier()

kn.fit(train_input, train_target['Species'])