## 로지스틱 회귀

In [3]:
import pandas as pd

df = pd.read_csv('data/Fish.csv')

In [6]:
df['Species'].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [8]:
fish_input = df[['Weight', 'Length2', 'Length3', 'Height', 'Width']]
fish_input.head()

   Weight  Length2  Length3   Height   Width
0   242.0     25.4     30.0  11.5200  4.0200
1   290.0     26.3     31.2  12.4800  4.3056
2   340.0     26.5     31.1  12.3778  4.6961
3   363.0     29.0     33.5  12.7300  4.4555
4   430.0     29.0     34.0  12.4440  5.1340

In [9]:
fish_target = df[['Species']]

In [12]:
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = \
train_test_split(fish_input, fish_target)

In [14]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [19]:
from sklearn.neighbors import KNeighborsClassifier

kn = KNeighborsClassifier()
kn.fit(train_scaled, train_target)

print(kn.score(train_scaled, train_target))
print(kn.score(test_scaled, test_target))

0.8403361344537815
0.775

/Users/choesieon/Desktop/ml/venv/lib/python3.13/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [23]:
kn.predict(test_scaled)

array(['Perch', 'Perch', 'Parkki', 'Parkki', 'Perch', 'Smelt', 'Pike',
       'Perch', 'Perch', 'Bream', 'Perch', 'Parkki', 'Bream', 'Perch',
       'Parkki', 'Bream', 'Perch', 'Perch', 'Perch', 'Smelt', 'Smelt',
       'Perch', 'Perch', 'Perch', 'Bream', 'Bream', 'Pike', 'Pike',
       'Parkki', 'Bream', 'Perch', 'Perch', 'Bream', 'Bream', 'Smelt',
       'Perch', 'Pike', 'Pike', 'Smelt', 'Bream'], dtype=object)

In [24]:
kn.predict_proba(test_scaled)

array([[0. , 0. , 0.8, 0. , 0. , 0. , 0.2],
       [0. , 0. , 0.8, 0. , 0.2, 0. , 0. ],
       [0. , 0.6, 0. , 0. , 0.4, 0. , 0. ],
       [0. , 0.4, 0.4, 0. , 0.2, 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0. , 0. , 0.2],
       [0. , 0. , 0. , 0. , 0. , 1. , 0. ],
       [0. , 0. , 0.4, 0.6, 0. , 0. , 0. ],
       [0. , 0. , 0.6, 0.4, 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. , 0. , 0. , 0. ],
       [0.8, 0.2, 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. , 0. , 0. , 0. ],
       [0. , 0.4, 0.4, 0. , 0.2, 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.6, 0. , 0.4, 0. , 0. ],
       [0.2, 0.8, 0. , 0. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0.2, 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0. , 0. , 0.2],
       [0. , 0. , 0. , 0. , 0. , 1. , 0. ],
       [0. , 0. , 0.2, 0. , 0.2, 0.6, 0. ],
       [0. , 0. , 0.6, 0.4, 0. , 0. , 0. ],
       [0. , 0. , 0.8, 0. , 0.2, 0. , 0. ],
       [0. , 0. , 0.6, 0. , 0.4, 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.4, 0.6, 0. , 0. , 0. ],
       [0. , 0. , 0.4, 0.6, 0. , 0. , 0. ],
       [0. , 0.4, 0.4, 0. , 0.2, 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.6, 0. , 0.4, 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. , 0. , 1. , 0. ],
       [0. , 0. , 0.8, 0. , 0. , 0. , 0.2],
       [0. , 0. , 0. , 1. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 1. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. , 0. , 1. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ]])

In [34]:
bream_smelt_indexes = (train_target == 'Bream') | (train_target == 'Smelt')

train_bs = train_scaled[bream_smelt_indexes['Species']]
target_bs = train_target[bream_smelt_indexes['Species']]
target_bs

    Species
151   Smelt
7     Bream
16    Bream
29    Bream
153   Smelt
3     Bream
21    Bream
10    Bream
34    Bream
158   Smelt
14    Bream
5     Bream
15    Bream
31    Bream
0     Bream
149   Smelt
32    Bream
145   Smelt
9     Bream
157   Smelt
27    Bream
150   Smelt
6     Bream
33    Bream
23    Bream
4     Bream
24    Bream
154   Smelt
25    Bream
147   Smelt
156   Smelt
18    Bream
28    Bream
152   Smelt
19    Bream
12    Bream
1     Bream

In [41]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train_bs, target_bs)

lr.predict(train_bs[:5])
lr.predict_proba(train_bs[:5]).round(3)

/Users/choesieon/Desktop/ml/venv/lib/python3.13/site-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[0.032, 0.968],
       [0.971, 0.029],
       [0.994, 0.006],
       [0.999, 0.001],
       [0.03 , 0.97 ]])

In [42]:
lr.coef_

array([[-0.43370163, -0.61736997, -0.70264194, -0.98200065, -0.75901551]])

In [45]:
lr = LogisticRegression(C=20, max_iter=1000)
lr.fit(train_scaled, train_target)

print(lr.score(train_scaled, train_target))
print(lr.score(test_scaled, test_target))

0.9327731092436975
0.9

/Users/choesieon/Desktop/ml/venv/lib/python3.13/site-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [46]:
lr.predict_proba(test_scaled[:5]).round(3)

array([[0.004, 0.   , 0.871, 0.009, 0.002, 0.   , 0.114],
       [0.   , 0.024, 0.382, 0.001, 0.555, 0.001, 0.037],
       [0.004, 0.92 , 0.001, 0.   , 0.054, 0.   , 0.02 ],
       [0.   , 0.887, 0.006, 0.   , 0.078, 0.015, 0.014],
       [0.023, 0.   , 0.411, 0.007, 0.   , 0.   , 0.558]])

In [47]:
lr.coef_.shape

(7, 5)

In [ ]:
# 로지스틱 함수는 z를 만듦. 
# 다중회귀에선 로지스틱 함수를 쓸 수 없음. 확률이 1을 넘어버림. 
# 소프트맥스를 써서 확률이 1이 되도록 수정해줌.